@model Vidly.ViewModels.UserViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Użytkownicy</h2>
<p><a class="btn btn-default" href="@Url.Action("NewUser", "MyUsers")">Nowy użytkownik</a></p>
<table id="myusers" class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Nazwa</th>
        <th>Login</th>
        <th>Rodzaj</th>
        <th>Edytuj</th>
        <th>Skasuj</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model.Users)
    {
        <tr>
            <td>  @user.Id    </td>
            <td>@user.Name</td>
            <td>@user.Login</td>
            <td>@user.UserType.Name</td>
            <td>
                <a class="btn btn-default" href="@Url.Action("EditUser", "MyUsers", new {@id = user.Id})">Edytuj użytkownika &raquo;</a>
            </td>
            <td>
                <button data-myuser-id="@user.Id" class ="btn btn-default js-delete"> Kasuj</button>
            </td>
        </tr>
    }
    </tbody>
</table>

@section scripts
{
    <script>
        
    

        $(document).ready(function () {

            var table = $("#myusers").DataTable();

            $("#myusers .js-delete").on("click",
                function () {
                    var button = $(this)
                    if (confirm("Czy jesteś pewny, że chcesz skasować tego uzytkownika?")) {
                        $.ajax({
                            url: "/api/myusers/" + button.attr("data-myuser-id"),
                            method: "DELETE",
                            success: function() {
                                button.parent("tr").remove();
                            }
                        });
                    }
                });
        });
    </script>
}