@model Vidly.Models.Customer

@{
    ViewBag.Title = "GetCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetCustomer</h2>
<ul>
    <li>@Model.Name</li>
    <li>@Model.MembershipType.Name</li>
    @if (@Model.Birthdate != null)
    {
        <li>Data urodzenia @Model.Birthdate</li>
    }
</ul>


<input type="button" value="Back" onclick="location.href='@Url.Action("CustomersIndex", "Customers")'"/>